<div>
  <mat-form-field>
    <mat-label>Recurrence frequency</mat-label>
    <mat-select [(value)]="selectedFrequency">
      <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
        {{frequency}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput [matDatepicker]="frompicker" placeholder="From date" (dateChange)="assignDates($event, 'fromDate')" [(value)]="fromDate">
    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker></mat-datepicker>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput [matDatepicker]="topicker" placeholder="To date" (dateChange)="assignDates($event, 'toDate')" [(value)]="toDate">
    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
    <mat-datepicker #topicker></mat-datepicker>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button (click)="generateDates()">Generate dates</button>
</div>
<div>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let date of availableDates">{{date}}</mat-list-item>
  </mat-list>
</div>
<router-outlet></router-outlet>
